html,
body{
    overflow-x:hidden;
}

.team-page{


margin:auto;

padding:40px;

}

.team-hero{

    position: relative;

    display:grid;

    grid-template-columns:1fr auto;

    background:var(--primary);

    color:var(--teamtext);

    border-radius:24px;

    padding:50px;

    overflow:hidden;

    position:relative;

    background:var(--primary);

}

.team-hero::before{

content:"";

position:absolute;

left:0;

top:0;

width:90px;

height:100%;

background:var(--secondary);

}

.hero-left,
.hero-right{

    position:relative;

    z-index:1;

}

.team-flag{
    box-shadow: 0 0 20px 1px #000;
    width:128px;

    margin-bottom:20px;

}

.hero-left{
    margin-left: 100px;
}
.hero-right{

display:grid;

grid-template-columns:repeat(4,140px);

gap:25px;

align-items:center;

}



.hero-stat{

text-align:center;

}

.hero-stat b{

font-size:48px;

display:block;

}

.team-grid{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:20px;

    align-items:start;

}

.left-column,
.right-column{

    display:flex;

    flex-direction:column;

    gap:20px;

}

.team-history,
.team-kits,
.team-records,
.team-matches,
.team-news{

background:#080808;

border-radius:20px;

padding:30px;

margin-bottom: 20px;

}

.team-matches h2{
    margin-bottom: 30px;
}
.team-matches{
    max-width: 1000px;
}

.match-card{
    margin-bottom: 20px;
    height: 100px !important;
}
.match-card img{
    width: 40px !important;
    border-radius: 4px !important;
}

.match-card .score{
    height: 46px !important;
    top: 0px;
    font-size: 26px;
}

.match-card .teams{
    height: 40px;
}
.match-card .team{
    height: 46px;
    flex-direction: row-reverse !important;
}
/* ---------- Timeline ---------- */

.history{

    overflow-x:auto;
    margin-bottom: 30px;

}

.history-scroll{

    position:relative;

}

.history-events{

    display:flex;
    gap:40px;

    align-items:flex-start;

    padding:18px 20px 0 20px;

}

.history-event{

    width:100%;

    display:flex;
    flex-direction:column;
    align-items:center;

    position:relative;

    z-index:2;

}

.history-line{

    position:absolute;

    left:0;

    top:28px;

    height:4px;

    background:#3a3a3a;

    z-index:1;

    width: 100%;

}

.history-dot{

    width:18px;
    height:18px;

    border-radius:50%;

    border:4px solid #0f1322;

    box-sizing:content-box;

    margin-bottom:12px;
}

/* Jahreszahl */

.history-year{

    font-weight:bold;

    margin-bottom:8px;

    font-size:.95rem;

}

/* Ergebnis */

.history-result{

    text-align:center;

    font-size:.8rem;

    color:#bdbdbd;

    line-height:1.3;

    max-width:90px;

}

/* ---------- Farben ---------- */

.history-dot.nq{
    background-color: #000;
}
.history-dot.group{

    background:#222;

}

.history-dot.round16{
    background:orange;
}

.history-dot.quarter{

    background:#4CAF50;

}

.history-dot.forth{
    background-color: skyblue;
}

.history-dot.third{

    background:rgb(244, 164, 96);
    box-shadow: 0 0 12px rgb(244, 164, 96,.6);

}

.history-dot.final{

    background:silver;
    box-shadow: 0 0 12px rgba(192,192,192,.6);
}

.history-dot.winner{

    background:gold;

    box-shadow:0 0 12px rgba(255,215,0,.6);

}

/* ---------- Hover ---------- */

.history-event:hover .history-dot{

    transform:scale(1.15);

    transition:.2s;

}

.history-event:hover .history-year{

    color:#FFD700;

}

/* ---------- Mobile ---------- */

@media(max-width:900px){

    .team-grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .history-events{

        overflow-x:auto;

        gap:50px;

        justify-content:flex-start;

        padding-bottom:10px;

    }

    .history-event{

        min-width:10px;

    }

}

/* ---------- Mobile ---------- */





.team-records table{

width:100%;

border-collapse:collapse;

}

.team-records td{

padding:12px;

border-bottom:1px solid #2a2a2a;

}

.tournament-filter{

    display:flex;

    flex-wrap:wrap;

    gap:8px;

    margin-bottom:20px;

}

.tournament-filter button{

    background:#111;

    color:white;

    border:none;

    border-radius:999px;

    padding:8px 18px;

    cursor:pointer;

    transition:.2s;

}

.tournament-filter button:hover{

    background:#2a2a2a;

}

.tournament-filter button.active{

    background:var(--primary);
    
    color:var(--teamtext);

}

.swiper{
    background-color: #080808;
}

.swiper h2{
    text-align: center;
    margin-bottom: 50px;
}



figure {
  width: 100%;
  aspect-ratio: 1;
  margin: 0 0 60px;
  padding: 5px 20px 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 100%;
  cursor: pointer;
  position: relative;
  filter: drop-shadow(0 0 20px rgb(0 0 0/50%));
}
figure:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: top/cover;
  transform-origin: bottom;
  filter: brightness(.9);
  transition: .5s;
}
figure:before {
    border-radius: 18px;
    background-color: var(--primary);
    opacity: 20%;
}

figure img{
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  place-self: end center;
  transition: .5s;
  overflow: visible;
}
figcaption {
  grid-area: 1/1;
  width: calc(100% + 40px);
  color: var(--teamtext);
  font-size: min(32px,5vmin);
  text-align: center;
  place-self: end center;
  transform: perspective(500px) translateY(100%) rotateX(-90deg);
  backface-visibility: hidden;
  transform-origin: top;
  background: var(--primary);
  transition: .5s;
}

figure:hover{
    z-index: 99;
}
figure:hover img {
  height: 200%;
  filter: contrast(1);
}
figure:hover::before {
  filter: brightness(.3);
  transform: perspective(500px) rotateX(60deg);
  
}
figure:hover figcaption{
  transform: perspective(500px)translateY(100%) rotateX(-30deg);
}

.galleryTest {
  margin: 0;
  min-height: 50vh;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min(230px,35vmin);
  place-content: end center;
  gap: 50px;
  
}

