.team-page{


margin:auto;

padding:40px;

}

.team-hero{

    position: relative;

    display:grid;

    grid-template-columns:1fr auto;

    background:var(--primary);

    color:var(--teamtext);

    border-radius:24px;

    padding:50px;

    overflow:hidden;

    position:relative;

    background:var(--primary);

}

.team-hero::before{

content:"";

position:absolute;

left:0;

top:0;

width:90px;

height:100%;

background:var(--secondary);

}

.hero-left,
.hero-right{

    position:relative;

    z-index:1;

}

.team-flag{
    box-shadow: 0 0 20px 1px #000;
    width:128px;

    margin-bottom:20px;

}

.hero-left{
    margin-left: 100px;
}
.hero-right{

display:grid;

grid-template-columns:repeat(4,140px);

gap:25px;

align-items:center;

}



.hero-stat{

text-align:center;

}

.hero-stat b{

font-size:48px;

display:block;

}

.team-grid{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:20px;

    align-items:start;

}

.left-column,
.right-column{

    display:flex;

    flex-direction:column;

    gap:20px;

}

.team-history,
.team-kits,
.team-records,
.team-matches,
.team-news{

background:#10131d;

border-radius:20px;

padding:30px;

margin-bottom: 20px;

}

.team-matches h2{
    margin-bottom: 30px;
}
.team-matches{
    max-width: 1000px;
}

/* ---------- Timeline ---------- */

.history{

    overflow-x:auto;
    margin-bottom: 30px;

}

.history-scroll{

    position:relative;

}

.history-events{

    display:flex;
    gap:40px;

    align-items:flex-start;

    padding:18px 20px 0 20px;

}

.history-event{

    width:100%;

    display:flex;
    flex-direction:column;
    align-items:center;

    position:relative;

    z-index:2;

}

.history-line{

    position:absolute;

    left:0;

    top:28px;

    height:4px;

    background:#3a3a3a;

    z-index:1;

    width: 100%;

}

.history-dot{

    width:18px;
    height:18px;

    border-radius:50%;

    border:4px solid #0f1322;

    box-sizing:content-box;

    margin-bottom:12px;
}

/* Jahreszahl */

.history-year{

    font-weight:bold;

    margin-bottom:8px;

    font-size:.95rem;

}

/* Ergebnis */

.history-result{

    text-align:center;

    font-size:.8rem;

    color:#bdbdbd;

    line-height:1.3;

    max-width:90px;

}

/* ---------- Farben ---------- */

.history-dot.nq{
    background-color: #000;
}
.history-dot.group{

    background:#222;

}

.history-dot.round16{
    background:orange;
}

.history-dot.quarter{

    background:#4CAF50;

}

.history-dot.forth{
    background-color: skyblue;
}

.history-dot.third{

    background:rgb(244, 164, 96);
    box-shadow: 0 0 12px rgb(244, 164, 96,.6);

}

.history-dot.final{

    background:silver;
    box-shadow: 0 0 12px rgba(192,192,192,.6);
}

.history-dot.winner{

    background:gold;

    box-shadow:0 0 12px rgba(255,215,0,.6);

}

/* ---------- Hover ---------- */

.history-event:hover .history-dot{

    transform:scale(1.15);

    transition:.2s;

}

.history-event:hover .history-year{

    color:#FFD700;

}

/* ---------- Mobile ---------- */

@media(max-width:900px){

    .team-grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .history-events{

        overflow-x:auto;

        gap:50px;

        justify-content:flex-start;

        padding-bottom:10px;

    }

    .history-event{

        min-width:10px;

    }

}

.kit-history{

    margin:60px 0;

}

.kit-slider{

    display:grid;

    grid-template-columns: 1fr;

    align-items:center;

    gap:20px;

    position: relative;
    overflow: visible;
}

#kit-slider::before,
#kit-slider::after{

    content:"";
    position:absolute;
    top:0;
    bottom:0;
    width:100px;
    z-index:5;

}

.kit-slider::before{

    left:0;

    background:linear-gradient(
        to right,
        #10131d 0%,
        transparent 100%
    );
}

.kit-slider::after{

    right: 0;

    background:linear-gradient(
        to left,
        #10131d 0%,
        transparent 100%
    );
}
/* ---------- Track ---------- */

.kit-track{

    display:flex;

    gap:-100px;

    overflow-x:auto;

    scroll-behavior:smooth;

    scrollbar-width:none;

    -ms-overflow-style:none;
    user-select: none;
    touch-action: pan-y; /* wichtig! */


}

.kit-track::-webkit-scrollbar{

    display:none;

}

/* ---------- Karten ---------- */

.kit-track .kit-card{

    flex:0 0 10px;   /* feste Breite */
    user-select:none;
}

/* ---------- Buttons ---------- */

.kit-slider button{

    width:42px;

    height:42px;

    border:none;

    border-radius:50%;

    background:#1b1b1b;

    color:white;

    font-size:24px;

    cursor:pointer;

    transition:.2s;
    z-index:10;
    position:relative;

}

.kit-track-buttons{
    display: flex;
    justify-content: space-around;
    
}

.kit-slider .kit-render{
    height: 150px;
}

.kit-slider .kit-info{
    display: none;
}
.kit-slider button:hover{

    background:#333;

    transform:scale(1.08);

}

.kit-slider button:active{

    transform:scale(.95);

}

/* ---------- Mobile ---------- */




.slider-buttons{

    display:flex;

    gap:10px;

}

.slider-buttons button{

    width:42px;

    height:42px;

    border-radius:50%;

    border:none;

    background:#000000;

    color:white;

    cursor:pointer;

    transition:.2s;

}

.slider-buttons button:hover{

    background:var(--colyellow);

}


.team-records table{

width:100%;

border-collapse:collapse;

}

.team-records td{

padding:12px;

border-bottom:1px solid #2a2a2a;

}

