
.tournament-header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #080808;
    color: white;
    border-radius: 18px;
    padding: 20px;
}

.tournament-result{
    overflow: hidden;
    border-radius: 18px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.tournament-result a{
    padding: 10px;

}

.tournament-result a:hover{
    background-color: white;
    color: black;
}
.tournament-header h2,
.tournament-header h1{
    margin: 10px;
}
.tournament-header img{
    margin: 10px;
    height:60px;
}

.tournament-nav{
    background-color: black;
    height: 64px;
    align-items: center;
    border-radius: 18px;
    margin-top: 10px;
}

.tournament-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.group-grid{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap:20px
}

@media(max-width:900px){
    .group-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:550px){
    .tournament-header{
        grid-template-columns: 1fr;
    }

    .tournament-grid{
        grid-template-columns: 1fr;
        gap: 0px;
    }
    .group-grid{
        display: grid;
        grid-template-columns: 1fr;
    }
}

.group-card{
    background: black;
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.group-card h3{
    user-select: none;
}

.group-card:hover{
    transform:translateY(-6px);
    box-shadow:0 0 18px white;
    transition:.25s;
}

.group-card a{
    background-color: #080808;
    padding: 10px;
    color: white;
    user-select: none;
    text-decoration: none;
}
.group-card-team{

    position:relative;

    display:flex;

    align-items:center;

    gap:10px;

}
.group-card-team::after{

    content:"";

    position:absolute;

    left: 0;
    top:90%;

    height:10%;
    width: 100%;


    background:var(--primary);


}

.group-card a:hover{
    background-color: var(--primary);
    color:var(--text);
}

.tournament-grid div{
    background-color: black;
    padding: 20px;
    border-radius: 18px;
    margin-top:20px;
    margin-bottom: 20px;
}

.tournament-result .resultFlag{
    height: 24px;
}