<header>

    <div class="logo">
        welt<span>Pokal</span>
    </div>


    <nav class="main-nav">

        <a href="/index.html">Home</a>
        <a href="/kits.html">Trikots</a>
        <a href="#">Turniere</a>
        <a href="#">Teams</a>
        <a href="#">Stadien</a>

    </nav>


    <nav class="tournament-nav">

        <div class="tournament-item">

            <button>2015 - England</button>

            <div class="dropdown">

                <a href="#">Spielplan</a>
                <a href="#">Gruppenphase</a>
                <a href="#">Endrunde</a>

            </div>

        </div>


        <div class="tournament-item">

            <button>2018 - Marokko</button>

            <div class="dropdown">

                <a href="#">Spielplan</a>
                <a href="#">Gruppenphase</a>
                <a href="#">Endrunde</a>

            </div>

        </div>


        <div class="tournament-item">

            <button>2019 - Australien</button>

            <div class="dropdown">

                <a href="#">Spielplan</a>
                <a href="#">Gruppenphase</a>
                <a href="#">Endrunde</a>

            </div>

        </div>

        <div class="tournament-item">

            <button>2020 - Kanada</button>

            <div class="dropdown">

                <a href="#">Spielplan</a>
                <a href="#">Gruppenphase</a>
                <a href="#">Endrunde</a>

            </div>

        </div>

        <div class="tournament-item">

            <button style="background-color:#DA291C;">2022 - Portugal</button>

            <div class="dropdown">

                <a href="#">Spielplan</a>
                <a href="#" data-link="group-a">Gruppenphase</a>
                <a href="#">Endrunde</a>

            </div>

        </div>

        <div class="tournament-item">

            <button style="background-color:#FFCD00;color:#003087;">2025 - Kolumbien</button>

            <div class="dropdown">

                <a href="#">Spielplan</a>
                <a href="#">Gruppenphase</a>
                <a href="#">Endrunde</a>

            </div>

        </div>

        <div class="tournament-item">

            <button>2027</button>

            <div class="dropdown">

                <a href="#">Spielplan</a>
                <a href="#">Gruppenphase</a>
                <a href="#">Endrunde</a>

            </div>

        </div>

        <!-- identisch für 2020, 2022, 2025, 2027 -->


    </nav>

<script src="js/config.js"></script>

</header>