<header>

    <div class="logo">
        welt<span>Pokal</span>
    </div>


    <nav class="main-nav">

        <a href="../index.html">Home</a>
        <a href="../kits.html">Trikots</a>
        <a href="#">Turniere</a>
        <a href="../teams.html">Teams</a>
        <a href="#">Stadien</a>

    </nav>
<!--
    <nav class="tournament-nav">

        <div class="tournament-item">

            <button style="background-color: white; color: red;">2015 - England</button>

            <div class="dropdown">

                <a href="#">Spielplan</a>
                <a href="#">Gruppenphase</a>
                <a href="#">Endrunde</a>
                <a href="#">Stadien</a>
            </div>

        </div>


        <div class="tournament-item">

            <button style="background-color: #C1272D;">2018 - Marokko</button>

            <div class="dropdown">

                <a href="#">Spielplan</a>
                <a href="#">Gruppenphase</a>
                <a href="#">Endrunde</a>

            </div>

        </div>


        <div class="tournament-item">

            <button style="background-color: #FFCD00 ; color: darkgreen;">2019 - Australien</button>

            <div class="dropdown">

                <a href="#">Spielplan</a>
                <a href="#">Gruppenphase</a>
                <a href="#">Endrunde</a>

            </div>

        </div>

        <div class="tournament-item">

            <button style="background-color: #D80621;">2020 - Kanada</button>

            <div class="dropdown">

                <a href="#">Spielplan</a>
                <a href="#">Gruppenphase</a>
                <a href="#">Endrunde</a>

            </div>

        </div>

        <div class="tournament-item">

            <button style="background-color:#DA291C;">2022 - Portugal</button>

            <div class="dropdown">

                <a href="#">Spielplan</a>
                <a href="#" data-link="group">Gruppenphase</a>
                <a href="#">Endrunde</a>

            </div>

        </div>

        <div class="tournament-item">

            <button style="background-color:#FFCD00;color:#003087;">2025 - Kolumbien</button>

<div class="dropdown">

    <a href="#">Spielplan</a>

    <div class="submenu-item">

    <button class="submenu-toggle">Gruppenphase</button>
        <div class="submenu-inline">

            <a href="#" data-link="group" data-year="2025" data-group="A">Gruppe A</a>
            <a href="#" data-link="group" data-year="2025" data-group="B">Gruppe B</a>
            <a href="#" data-link="group" data-year="2025" data-group="C">Gruppe C</a>
            <a href="#" data-link="group" data-year="2025" data-group="D">Gruppe D</a>
            <a href="#" data-link="group" data-year="2025" data-group="E">Gruppe E</a>
            <a href="#" data-link="group" data-year="2025" data-group="F">Gruppe F</a>
            <a href="#" data-link="group" data-year="2025" data-group="G">Gruppe G</a>
            <a href="#" data-link="group" data-year="2025" data-group="H">Gruppe H</a>

        </div>

    </div>
    <a href="#">Endrunde</a>
    <a href="#">Stadien</a>

</div>
        </div>

        <div class="tournament-item">

            <button>2027</button>

            <div class="dropdown">

                <a href="#">Spielplan</a>
                <a href="#">Gruppenphase</a>
                <a href="#">Endrunde</a>

            </div>

        </div>

         <p>identisch für 2020, 2022, 2025, 2027</p>


    </nav>
-->
<script src="js/config.js"></script>

</header>